@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*::before
*::after
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v11_262 {
    width: 100%;
    height: 2687px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_263 {
    width: 183px;
    height: 56px;
    background: url("../images/v11_263.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2769px;
    left: 49px;
    overflow: hidden;
  }
  .v11_264 {
    width: 100%;
    height: 2819px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 5px;
    overflow: hidden;
  }
  .v11_265 {
    width: 16px;
    height: 16px;
    background: url("../images/v11_265.png");
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 1397px;
    border: 1px solid rgba(255,255,255,1);
  }
  .v11_266 {
    width: 47px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 36px;
    left: 638px;
    font-family: DM Sans;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_267 {
    width: 182px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 36px;
    left: 776px;
    font-family: DM Sans;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_268 {
    width: 48px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 36px;
    left: 1016px;
    font-family: DM Sans;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_269 {
    width: 63px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 36px;
    left: 1157px;
    font-family: DM Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_270 {
    width: 16px;
    height: 16px;
    background: url("../images/v11_270.png");
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 1397px;
    border: 1px solid rgba(255,255,255,1);
  }
  .v11_271 {
    width: 12px;
    height: 16px;
    background: url("../images/v11_271.png");
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 1343px;
    border: 1px solid rgba(255,255,255,1);
  }
  .v11_272 {
    width: 16px;
    height: 16px;
    background: url("../images/v11_272.png");
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 1285px;
    border: 1px solid rgba(255,255,255,1);
  }
  .v11_273 {
    width: 100%;
    height: 965px;
    background: url("../images/v11_273.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 793px;
    left: 5px;
    overflow: hidden;
  }
  .v11_274 {
    width: 100%;
    height: 964px;
    background: linear-gradient(rgba(250,250,251,0.00009999999747378752), rgba(248,251,255,1));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(150,150,150,1);
    overflow: hidden;
  }
  .v11_275 {
    width: 100%;
    height: 175px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 790px;
    left: 0px;
  }
  .v11_276 {
    width: 100%;
    height: 1044px;
    background: url("../images/v11_276.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 5px;
    overflow: hidden;
  }
  .v11_277 {
    width: 100%;
    height: 740px;
    background: url("../images/v11_277.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_278 {
    width: 100%;
    height: 740px;
    background: url("../images/v11_278.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_279 {
    width: 100%;
    height: 740px;
    background: rgba(74,172,116,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(150,150,150,1);
    overflow: hidden;
  }
  .v11_280 {
    width: 100%;
    height: 740px;
    background: rgba(21,101,216,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(150,150,150,1);
    overflow: hidden;
  }
  .v11_281 {
    width: 100%;
    height: 175px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 565px;
    left: 0px;
  }
  .v11_282 {
    width: 301px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 198px;
    left: 570px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 54px;
    opacity: 1;
    text-align: center;
  }
  .v11_283 {
    width: 809px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 290px;
    left: 316px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v11_284 {
    width: 960px;
    height: 628px;
    background: url("../images/v11_284.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 416px;
    left: 240px;
    overflow: hidden;
  }
  .v11_285 {
    width: 960px;
    height: 615px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(229,234,244,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.029999999329447746);
    overflow: hidden;
  }
  .v11_286 {
    width: 401px;
    height: 90px;
    background: url("../images/v11_286.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 64px;
    left: 64px;
    overflow: hidden;
  }
  .v11_287 {
    width: 401px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 0px;
    overflow: hidden;
  }
  .v11_288 {
    width: 401px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_289 {
    width: 401px;
    height: 56px;
    background: url("../images/v11_289.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_290 {
    width: 401px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(195,202,217,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_291 {
    width: 88px;
    color: rgba(149,158,173,1);
    position: absolute;
    top: 16px;
    left: 20px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_292 {
    width: 97px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_293 {
    width: 401px;
    height: 90px;
    background: url("../images/v11_293.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 186px;
    left: 64px;
    overflow: hidden;
  }
  .v11_294 {
    width: 401px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 0px;
    overflow: hidden;
  }
  .v11_295 {
    width: 401px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_296 {
    width: 401px;
    height: 56px;
    background: url("../images/v11_296.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_297 {
    width: 401px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(195,202,217,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_298 {
    width: 132px;
    color: rgba(149,158,173,1);
    position: absolute;
    top: 17px;
    left: 20px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_299 {
    width: 141px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_300 {
    width: 401px;
    height: 90px;
    background: url("../images/v11_300.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 186px;
    left: 495px;
    overflow: hidden;
  }
  .v11_301 {
    width: 401px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 0px;
    overflow: hidden;
  }
  .v11_302 {
    width: 401px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_303 {
    width: 401px;
    height: 56px;
    background: url("../images/v11_303.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_304 {
    width: 401px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(195,202,217,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_305 {
    width: 31px;
    color: rgba(24,59,86,1);
    position: absolute;
    top: 17px;
    left: 20px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_306 {
    width: 10px;
    color: rgba(24,59,86,1);
    position: absolute;
    top: 20px;
    left: 368px;
    font-family: Font Awesome 5 Free;
    font-weight: Solid;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v11_307 {
    width: 73px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_308 {
    width: 401px;
    height: 90px;
    background: url("../images/v11_308.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 64px;
    left: 495px;
    overflow: hidden;
  }
  .v11_309 {
    width: 401px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 0px;
    overflow: hidden;
  }
  .v11_310 {
    width: 401px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_311 {
    width: 401px;
    height: 56px;
    background: url("../images/v11_311.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_312 {
    width: 401px;
    height: 56px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(195,202,217,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_313 {
    width: 156px;
    color: rgba(149,158,173,1);
    position: absolute;
    top: 17px;
    left: 20px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_314 {
    width: 128px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_315 {
    width: 832px;
    height: 170px;
    background: url("../images/v11_315.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 308px;
    left: 64px;
    overflow: hidden;
  }
  .v11_316 {
    width: 832px;
    height: 137px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 0px;
    overflow: hidden;
  }
  .v11_317 {
    width: 832px;
    height: 137px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_318 {
    width: 832px;
    height: 137px;
    background: url("../images/v11_318.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_319 {
    width: 832px;
    height: 137px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(195,202,217,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_320 {
    width: 170px;
    color: rgba(149,158,173,1);
    position: absolute;
    top: 17px;
    left: 20px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_321 {
    width: 124px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_322 {
    width: 155px;
    height: 48px;
    background: url("../images/v11_322.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 580px;
    left: 64px;
    overflow: hidden;
  }
  .v11_323 {
    width: 155px;
    height: 48px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_324 {
    width: 155px;
    height: 48px;
    background: url("../images/v11_324.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_325 {
    width: 155px;
    height: 48px;
    background: rgba(21,173,87,1);
    opacity: 1;
    position: absolute;
    top: 937px;
    left: 665px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_326 {
    width: 107px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 950px;
    left: 689px;
    overflow: hidden;
  }
  .v11_327 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 10px;
    font-family: Open Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v11_328 {
    width: 100%;
    height: 77px;
    background: rgba(4,2,4,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_329 {
    width: 47px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 29px;
    left: 638px;
    font-family: DM Sans;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_330 {
    width: 182px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 29px;
    left: 776px;
    font-family: DM Sans;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_331 {
    width: 48px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 29px;
    left: 1016px;
    font-family: DM Sans;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_332 {
    width: 63px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 29px;
    left: 1157px;
    font-family: DM Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_333 {
    width: 16px;
    height: 16px;
    background: url("../images/v11_333.png");
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 1397px;
    border: 1px solid rgba(255,255,255,1);
  }
  .v11_334 {
    width: 12px;
    height: 16px;
    background: url("../images/v11_334.png");
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 1343px;
    border: 1px solid rgba(255,255,255,1);
  }
  .v11_335 {
    width: 16px;
    height: 16px;
    background: url("../images/v11_335.png");
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 1285px;
    border: 1px solid rgba(255,255,255,1);
  }
  .v11_336 {
    width: 152px;
    height: 60px;
    background: url("../images/v11_336.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 34px;
    overflow: hidden;
  }
  .v11_337 {
    width: 100%;
    height: 258px;
    background: url("../images/v11_337.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1110px;
    left: 155px;
    overflow: hidden;
  }
  .v11_338 {
    width: 360px;
    height: 246px;
    background: url("../images/v11_338.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_339 {
    width: 360px;
    height: 246px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_340 {
    width: 93px;
    color: rgba(24,59,86,1);
    position: absolute;
    top: 104px;
    left: 134px;
    font-family: HK Grotesk;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v11_341 {
    width: 64px;
    height: 64px;
    background: url("../images/v11_341.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 148px;
    overflow: hidden;
  }
  .v11_342 {
    width: 64px;
    height: 64px;
    background: url("../images/v11_342.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.05999999865889549;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_343 {
    width: 64px;
    height: 64px;
    background: rgba(21,173,87,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(21,101,216,1);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .v11_344 {
    width: 328px;
    color: rgba(90,113,132,1);
    position: absolute;
    top: 148px;
    left: 16px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v11_345 {
    width: 156px;
    color: rgba(21,173,87,1);
    position: absolute;
    top: 218px;
    left: 102px;
    font-family: Open Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v11_346 {
    width: 603px;
    height: 246px;
    background: url("../images/v11_346.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 390px;
    overflow: hidden;
  }
  .v11_347 {
    width: 360px;
    height: 246px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_348 {
    width: 75px;
    color: rgba(24,59,86,1);
    position: absolute;
    top: 104px;
    left: 143px;
    font-family: HK Grotesk;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v11_349 {
    width: 455px;
    height: 64px;
    background: url("../images/v11_349.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 148px;
    overflow: hidden;
  }
  .v11_350 {
    width: 455px;
    height: 64px;
    background: url("../images/v11_350.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.05999999865889549;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_351 {
    width: 64px;
    height: 64px;
    background: rgba(21,173,87,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(21,101,216,1);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .v11_352 {
    width: 64px;
    height: 64px;
    background: rgba(21,173,87,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 391px;
    border: 0px solid rgba(21,101,216,1);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .v11_353 {
    width: 328px;
    color: rgba(90,113,132,1);
    position: absolute;
    top: 148px;
    left: 16px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v11_354 {
    width: 125px;
    color: rgba(21,173,87,1);
    position: absolute;
    top: 218px;
    left: 118px;
    font-family: Open Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v11_355 {
    width: 360px;
    height: 258px;
    background: url("../images/v11_355.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 780px;
    overflow: hidden;
  }
  .v11_356 {
    width: 360px;
    height: 246px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_357 {
    width: 88px;
    color: rgba(24,59,86,1);
    position: absolute;
    top: 104px;
    left: 136px;
    font-family: HK Grotesk;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v11_358 {
    width: 179px;
    height: 40px;
    background: url("../images/v11_358.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 218px;
    left: 93px;
    overflow: hidden;
  }
  .v11_359 {
    width: 179px;
    height: 40px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_360 {
    width: 179px;
    height: 40px;
    background: url("../images/v11_360.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_361 {
    width: 179px;
    height: 40px;
    background: url("../images/v11_361.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(21,173,87,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v11_362 {
    width: 141px;
    height: 22px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 20px;
    overflow: hidden;
  }
  .v11_363 {
    width: 13px;
    color: rgba(21,173,87,1);
    position: absolute;
    top: 4px;
    left: 128px;
    font-family: Font Awesome 5 Free;
    font-weight: Solid;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v11_364 {
    width: 122px;
    color: rgba(21,173,87,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Open Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v11_365 {
    width: 328px;
    color: rgba(90,113,132,1);
    position: absolute;
    top: 148px;
    left: 16px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v11_366 {
    width: 32px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 165px;
    overflow: hidden;
  }
  .v11_367 {
    width: 28px;
    height: 20px;
    background: rgba(74,172,116,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 2px;
  }
  .v11_368 {
    width: 8px;
    height: 8px;
    background: rgba(74,172,116,1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 22px;
  }
  .v11_369 {
    width: 34px;
    height: 34px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 554px;
    overflow: hidden;
  }
  .v11_370 {
    width: 28px;
    height: 28px;
    background: rgba(74,172,116,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .v11_371 {
    width: 7px;
    height: 7px;
    background: rgba(74,172,116,1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 18px;
  }
  .v11_372 {
    width: 37px;
    height: 37px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 943px;
    overflow: hidden;
  }
  .v11_373 {
    width: 30px;
    height: 30px;
    background: url("../images/v11_373.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
    overflow: hidden;
  }
  .v11_374 {
    width: 30px;
    height: 30px;
    background: rgba(74,172,116,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v11_375 {
    width: 100%;
    height: 694px;
    background: url("../images/v11_375.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1505px;
    left: 45px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    overflow: hidden;
  }
  .v11_376 {
    width: 100%;
    height: 694px;
    background: url("../images/v11_376.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1434px;
    left: 45px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    overflow: hidden;
  }
  .v11_377 {
    width: 84px;
    height: 155px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1960px;
    left: 1309px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 2px 23px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v11_378 {
    width: 29px;
    height: 29px;
    background: url("../images/v11_378.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1983px;
    left: 1336px;
    overflow: hidden;
  }
  .v11_379 {
    width: 29px;
    height: 2px;
    background: rgba(0,0,0,0.8199999928474426);
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v11_380 {
    width: 29px;
    height: 2px;
    background: rgba(0,0,0,0.8199999928474426);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v11_381 {
    width: 29px;
    height: 2px;
    background: url("../images/v11_381.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2083px;
    left: 1336px;
    overflow: hidden;
  }
  .v11_382 {
    width: 29px;
    height: 2px;
    background: rgba(0,0,0,0.8199999928474426);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v11_383 {
    width: 115px;
    height: 115px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1699px;
    left: 689px;
    overflow: hidden;
  }
  .v11_384 {
    width: 79px;
    height: 100px;
    background: rgba(74,172,116,1);
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 17px;
  }
  .v11_385 {
    width: 28px;
    height: 28px;
    background: url("../images/v11_385.png");
    opacity: 1;
    position: absolute;
    top: 32px;
    left: 43px;
  }
  .v11_386 {
    width: 100%;
    height: 433px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 2280px;
    left: 0px;
    overflow: hidden;
  }
  .v11_387 {
    width: 100%;
    height: 433px;
    background: rgba(0,0,0,0.9399999976158142);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_388 {
    width: 183px;
    height: 78px;
    background: url("../images/v11_388.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 65px;
    overflow: hidden;
  }
  .v11_389 {
    width: 100%;
    height: 223px;
    background: url("../images/v11_389.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 79px;
    overflow: hidden;
  }
  .v11_390 {
    width: 218px;
    height: 137px;
    background: url("../images/v11_390.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 86px;
    left: 0px;
    overflow: hidden;
  }
  .v11_391 {
    width: 218px;
    height: 137px;
    background: url("../images/v11_391.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_392 {
    width: 109px;
    height: 20px;
    background: url("../images/v11_392.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 117px;
    left: 0px;
    overflow: hidden;
  }
  .v11_393 {
    width: 18px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Font Awesome 5 Brands;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
  }
  .v11_394 {
    width: 20px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 48px;
    font-family: Font Awesome 5 Brands;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
  }
  .v11_395 {
    width: 13px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 96px;
    font-family: Font Awesome 5 Brands;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
  }
  .v11_396 {
    width: 167px;
    color: rgba(37,37,37,1);
    position: absolute;
    top: 0px;
    left: 51px;
    opacity: 1;
    text-align: left;
  }
  .v11_397 {
    width: 41px;
    height: 41px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    overflow: hidden;
  }
  .v11_398 {
    width: 23px;
    height: 23px;
    background: url("../images/v11_398.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 8px;
    overflow: hidden;
  }
  .v11_399 {
    width: 23px;
    height: 23px;
    background: url("../images/v11_399.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_400 {
    width: 23px;
    height: 23px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v11_401 {
    width: 41px;
    height: 40px;
    background: url("../images/v11_401.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_402 {
    width: 41px;
    height: 40px;
    background: url("../images/v11_402.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_403 {
    width: 41px;
    height: 40px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v11_404 {
    width: 218px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 63px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v11_405 {
    width: 200px;
    height: 188px;
    background: url("../images/v11_405.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 365px;
    overflow: hidden;
  }
  .v11_406 {
    width: 124px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v11_407 {
    width: 161px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 48px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v11_408 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 77px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v11_409 {
    width: 200px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 106px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v11_410 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 135px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v11_411 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 164px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v11_412 {
    width: 138px;
    height: 112px;
    background: url("../images/v11_412.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 730px;
    overflow: hidden;
  }
  .v11_413 {
    width: 124px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v11_414 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 48px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v11_415 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 88px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v11_416 {
    width: 169px;
    height: 28px;
    background: url("../images/v11_416.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1042px;
    overflow: hidden;
  }
  .v11_417 {
    width: 169px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v11_418 {
    width: 100%;
    height: 24px;
    background: url("../images/v11_418.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 342px;
    left: 79px;
    overflow: hidden;
  }
  .v11_419 {
    width: 491px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_420 {
    width: 457px;
    height: 16px;
    background: url("../images/v11_420.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 880px;
    overflow: hidden;
  }
  .v11_421 {
    width: 427px;
    height: 16px;
    background: url("../images/v11_421.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v11_422 {
    width: 44px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_423 {
    width: 40px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 116px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_424 {
    width: 50px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 228px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_425 {
    width: 77px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 350px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_426 {
    width: 4px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 199px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_427 {
    width: 4px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 81px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_428 {
    width: 4px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 453px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_429 {
    width: 4px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 322px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v11_430 {
    width: 63px;
    height: 35px;
    background: url("../images/v11_430.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 105px;
    left: 1120px;
    overflow: hidden;
  }
  .v11_431 {
    width: 63px;
    height: 35px;
    background: url("../images/v11_431.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 105px;
    left: 1120px;
    overflow: hidden;
  }
  .v11_432 {
    width: 83px;
    height: 64px;
    background: url("../images/v11_432.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 97px;
    left: 1198px;
    overflow: hidden;
  }
  .v11_433 {
    width: 83px;
    height: 64px;
    background: url("../images/v11_433.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 97px;
    left: 1198px;
    overflow: hidden;
  }