@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*::after
*::before

* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v12_745 {
    width: 100%;
    height: 3862px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v12_746 {
    width: 183px;
    height: 81px;
    background: url("../images/v12_746.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3980px;
    left: 49px;
    overflow: hidden;
  }
  .v12_747 {
    width: 161px;
    height: 5px;
    background: rgba(74,172,116,1);
    opacity: 1;
    position: absolute;
    top: 198px;
    left: 639px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    overflow: hidden;
  }
  .v12_748 {
    width: 180px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 149px;
    left: 630px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v12_749 {
    width: 100%;
    height: 93px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v12_750 {
    width: 16px;
    height: 16px;
    background: url("../images/v12_750.png");
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 1392px;
    border: 1px solid rgba(255,255,255,1);
  }
  .v12_751 {
    width: 16px;
    height: 16px;
    background: url("../images/v12_751.png");
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 1392px;
    border: 1px solid rgba(255,255,255,1);
  }
  .v12_752 {
    width: 100%;
    height: 93px;
    background: rgba(4,2,4,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v12_753 {
    width: 152px;
    height: 64px;
    background: url("../images/v12_753.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 29px;
    overflow: hidden;
  }
  .v12_754 {
    width: 47px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 36px;
    left: 633px;
    font-family: DM Sans;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_755 {
    width: 182px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 36px;
    left: 771px;
    font-family: DM Sans;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_756 {
    width: 48px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 36px;
    left: 1011px;
    font-family: DM Sans;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_757 {
    width: 63px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 36px;
    left: 1152px;
    font-family: DM Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_758 {
    width: 12px;
    height: 16px;
    background: url("../images/v12_758.png");
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 1338px;
    border: 1px solid rgba(255,255,255,1);
  }
  .v12_759 {
    width: 16px;
    height: 16px;
    background: url("../images/v12_759.png");
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 1280px;
    border: 1px solid rgba(255,255,255,1);
  }
  .v12_760 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 275px;
    left: 104px;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v12_761 {
    width: 100%;
    height: 433px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3387px;
    left: 0px;
    overflow: hidden;
  }
  .v12_762 {
    width: 100%;
    height: 433px;
    background: rgba(0,0,0,0.9399999976158142);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v12_763 {
    width: 100%;
    height: 223px;
    background: url("../images/v12_763.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 79px;
    overflow: hidden;
  }
  .v12_764 {
    width: 218px;
    height: 137px;
    background: url("../images/v12_764.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 86px;
    left: 0px;
    overflow: hidden;
  }
  .v12_765 {
    width: 218px;
    height: 137px;
    background: url("../images/v12_765.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v12_766 {
    width: 109px;
    height: 20px;
    background: url("../images/v12_766.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 117px;
    left: 0px;
    overflow: hidden;
  }
  .v12_767 {
    width: 18px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Font Awesome 5 Brands;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
  }
  .v12_768 {
    width: 20px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 48px;
    font-family: Font Awesome 5 Brands;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
  }
  .v12_769 {
    width: 13px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 96px;
    font-family: Font Awesome 5 Brands;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
  }
  .v12_770 {
    width: 167px;
    color: rgba(37,37,37,1);
    position: absolute;
    top: 0px;
    left: 51px;
    opacity: 1;
    text-align: left;
  }
  .v12_771 {
    width: 41px;
    height: 41px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    overflow: hidden;
  }
  .v12_772 {
    width: 23px;
    height: 23px;
    background: url("../images/v12_772.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 8px;
    overflow: hidden;
  }
  .v12_773 {
    width: 23px;
    height: 23px;
    background: url("../images/v12_773.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v12_774 {
    width: 23px;
    height: 23px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v12_775 {
    width: 41px;
    height: 40px;
    background: url("../images/v12_775.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1px;
    overflow: hidden;
  }
  .v12_776 {
    width: 41px;
    height: 40px;
    background: url("../images/v12_776.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v12_777 {
    width: 41px;
    height: 40px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v12_778 {
    width: 218px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 63px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v12_779 {
    width: 200px;
    height: 188px;
    background: url("../images/v12_779.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 365px;
    overflow: hidden;
  }
  .v12_780 {
    width: 124px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v12_781 {
    width: 161px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 48px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v12_782 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 77px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v12_783 {
    width: 200px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 106px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v12_784 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 135px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v12_785 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 164px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v12_786 {
    width: 138px;
    height: 112px;
    background: url("../images/v12_786.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 730px;
    overflow: hidden;
  }
  .v12_787 {
    width: 124px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v12_788 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 48px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v12_789 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 88px;
    left: 0px;
    font-family: Hind;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v12_790 {
    width: 169px;
    height: 28px;
    background: url("../images/v12_790.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1042px;
    overflow: hidden;
  }
  .v12_791 {
    width: 169px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v12_792 {
    width: 100%;
    height: 24px;
    background: url("../images/v12_792.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 342px;
    left: 79px;
    overflow: hidden;
  }
  .v12_793 {
    width: 491px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_794 {
    width: 457px;
    height: 16px;
    background: url("../images/v12_794.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 880px;
    overflow: hidden;
  }
  .v12_795 {
    width: 427px;
    height: 16px;
    background: url("../images/v12_795.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 72px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v12_796 {
    width: 44px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_797 {
    width: 40px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 116px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_798 {
    width: 50px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 228px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_799 {
    width: 77px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 350px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_800 {
    width: 4px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 199px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_801 {
    width: 4px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 81px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_802 {
    width: 4px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 453px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_803 {
    width: 4px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 322px;
    font-family: Hind;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v12_804 {
    width: 63px;
    height: 35px;
    background: url("../images/v12_804.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 105px;
    left: 1120px;
    overflow: hidden;
  }
  .v12_805 {
    width: 83px;
    height: 64px;
    background: url("../images/v12_805.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 97px;
    left: 1198px;
    overflow: hidden;
  }
  .v12_806 {
    width: 183px;
    height: 76px;
    background: url("../images/v12_806.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 65px;
    overflow: hidden;
  }